@tailwind base;
/* Write your global styles here, in PostCSS syntax */
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Newsreader 72pt';
	font-weight: normal;
	src: url('/fonts/Newsreader72pt-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Newsreader 72pt';
	font-weight: bold;
	src: url('/fonts/Newsreader72pt-Bold.woff2') format('woff2');
}

html {
	/* @apply bg-gray-50; */
}

.fw {
	@apply max-w-[1000px] mx-auto px-4 xs:px-8;
}

.article {
	@apply text-base leading-relaxed font-serif space-y-4;
}

.article a {
	@apply text-red-600 hover:underline;
}

.article :is(ul, ol) {
	@apply ml-8 list-disc space-y-2;
}

.article ul {
	@apply list-disc;
}

.article ol {
	@apply list-decimal;
}

.article li::marker {
	@apply text-red-700;
}

.article ul li {
	@apply pl-1;
}

.article img {
	max-width: 100%;
}

.article h1 {
	@apply text-2xl font-bold font-headline !mt-8;
}

.article h2 {
	@apply text-lg font-bold font-headline !mt-5;
}

.article figcaption {
	@apply italic border-l pl-4 pt-3 pb-2;
}

.stu-headline {
	@apply font-headline leading-tight text-5xl text-red-600;
}
